<div class="container">
  <nav>
    <a [routerLink]=" ['/'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Home
    </a>
    <a *ngIf="!userName" [routerLink]=" ['/login'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Login
    </a>
    <a [routerLink]=" ['/todos'] "
       routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Todos
    </a>
  </nav>

  <div *ngIf="userName" class="is-right">
    {{userName}}
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
  </div>
</div>

<main>
  <div class="container">
    <ng-content></ng-content>
  </div>
</main>

<div class="container">
  <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
</div>
